<div>
    <form action = "/admin/auth/login" method = "post">
      <input name="username" placeholder="enter username"/>
      <input name="password" placeholder="enter passsword"/>
      <input type = "submit" value = "login" >
    </form>
  
    <% if(error) {%>
      <h2> <%= error %> </h2>
    <% } %>
    
  </div>
   